<nav class="navbar navbar-default">
    <div class="contaner-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand"> ZomoSwig</a>
        </div>
    <div class="navbar-default">
        <ul class="nav navbar-nav">

            <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
            <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>

        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown" dropdirective>
                <a class="dropdown-toggle" role="button">Manage
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" >
                    <li style="cursor:pointer" (click)="onSaveData()"><a > Saving Data </a></li>
                    <li style="cursor:pointer" (click)="onFetchData()" ><a > Fetching Data </a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>